@import url(./var.css);
body {
    background-color: var(--background-0);
}
body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size-1);
    color: var(--text-primary);
    font-weight: var(--font-weight-1);
    font-family: sans-serif;
    user-select: none;
}

h1 {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
}

h2 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
}
.content {
    padding: var(--spacing-4);
    width: 100%;
}
