:root {
    /*Base colours*/
    --colour-red: #ff3b30;
    --colour-blue: #007aff;
    --colour-green: #28cd41;
    --colour-orange: #ff9500;
    --colour-gray-50: #fafafa;
    --colour-gray-100: #f5f5f9;
    --colour-gray-200: #eeeeee;
    --colour-gray-300: #e0e0e0;
    --colour-gray-400: #bdbdbd;
    --colour-gray-500: #9e9e9e;
    --colour-gray-600: #757575;
    --colour-gray-700: #616161;
    --colour-gray-800: #424242;
    --colour-gray-900: #212121;
    /*Semantic Colours*/
    --colour-error: var(--colour-red);
    --colour-success: var(--colour-green);
    --colour-warning: var(--colour-orange);
    --text-primary: #000000d9;
    --text-secondary: #000000a9;
    --text-inverse: var(--colour-gray-50);
    --text-muted: var(--colour-gray-400);
    /*Background*/
    /**Surface**/
    --background-0: var(--colour-gray-50);
    --background-1: var(--colour-gray-100);
    --background-2: var(--colour-gray-300);
    --background-overlay: #e5e5e780;
    --background-primary-1: var(--colour-blue);
    /*Base spacings*/
    --spacing-0: 1px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 18px;
    --spacing-5: 21px;
    --spacing-8: 36px;
    --spacing-16: 72px;
    /*Font sizes*/
    --font-size-0: 10px;
    --font-size-1: 15px;
    --font-size-2: 18px;
    --font-size-3: 25px;
    --font-size-4: 36px;
    /*Font Weight*/
    --font-weight-1: 500;
    --font-weight-2: 600;
    /*border*/
    --border-1: var(--colour-gray-500) 1px solid;
    --border-1-hover: var(--colour-gray-400) 2px solid;
    --border-radius-1: 1px;
    --border-radius-2: 2px;
    --border-radius-3: 4px;
    --border-radius-4: 10px;

    --blur-1: blur(14px);
}
