:root {
    --colour-primary: #44aae6;
    --colour-secondary: #7a6c4d;
    --colour-accent: #cc933d;

    --colour-background: #f1f1f6;
    --colour-foreground: #fff;
    --colour-surface: #ececec;
    --colour-blurred: #ffffff80;
    --colour-text: #111;
    --colour-text-inverse: #ffffff;
    --colour-text-muted: #888888;
    --colour-text-primary: #ffffff;

    --colour-border: #c7c7c7;
    --colour-border-light: #eeeeee;
    --colour-shadow: rgba(0, 0, 0, 0.05);
    --colour-shadow-2: rgba(0, 0, 0, 0.3);

    --colour-link: var(--colour-primary);
    --colour-link-hover: #d9a842;

    --colour-success: #4caf50;
    --colour-warning: #ff9800;
    --colour-error: #f44336;
    --colour-info: #2196f3;
    --colour-disabled: #cccccc;

    --colour-gradient-primary: linear-gradient(45deg, #eac163, #f5deb3);
}
